$color-01: #7c5dfa;
$color-02: #9277ff;
$color-03: #1e2139;
$color-04: #252945;
$color-05: #dfe3fa;
$color-06: #888eb0;
$color-07: #7e88c3;
$color-08: #0c0e16;
$color-09: #ec5757;
$color-10: #ff9797;
$color-11: #f8f8fb;
$color-12: #141625;
$color-13: #373b53;
$color-14: #dfe3fa;
$color-15: #ffff;
